# Created by https://www.toptal.com/developers/gitignore/api/powershell
# Edit at https://www.toptal.com/developers/gitignore?templates=powershell

### PowerShell ###
# Exclude packaged modules
*.zip

# Exclude .NET assemblies from source
*.dll

# End of https://www.toptal.com/developers/gitignore/api/powershell
out.txt
output.json
*.pyc
error_codes.txt
answer.plite
/tasks.bat
/bat
/lnk
/github/env
/ZIPList.txt
*.log
*.efu
/..bfg-report/
/powerprofiles
/tasks
/reg
HKU/*
*/*
*.lnk
*.txt